/*
  * 
  * Objects
  *
  */



ul.project-grid {
  margin: 0;
  padding: 0;
  list-style: none;


  li.project-item {
    border: 3px solid $dark-color;
    margin: 0 auto 2em;

    @media screen and (min-width: $small-screen - 150px) {
      float: left;
      width: 48%;
      margin: 0 1% 3%;
    }

    @media screen and (min-width: $medium-screen) {
      width: 30%;
      margin: 0 1.5% 3%;
    }

    figure {
      margin: 0; 

      img {
        width: 100%;
      }     
    }

    figcaption {
      font-size: .9em;
      color: $header-font-color;
      border-top: 3px solid $dark-color;
      padding: .8em 1.1em;
      background-image: url(../img/icons/icon-eye.svg);
      background-repeat: no-repeat;
      background-position: 98% center;
      background-size: 2em;

      h4 {
        font-size: 1em;
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: $base-letter-spacing;
      }

      p {
        margin: 0;
        line-height: 1;
      }
    }

    .coming-soon {
      color: $neutral-color;
      background-color: $dark-color;
      position: relative;

      img {
        opacity: .4;
      }

      > span {
        font-family: $header-font-family;
        font-size: 1.5em;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform( translateX(-50%) translateY(-50%) );
      }
    }
  }
}

.submit-item {
  text-align: center;

  > a {
    display: block;
    padding: 3em;
  }

  img {
    width: 5em;
  }
}

.well {
  background-color: #f9f8f5;
  padding: 2em 2.5em;
  margin: 0 -2.5em;
  @include border-radius($global-radius);
}

.email-well {

  h4 {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: $base-letter-spacing;
  }

  p {
    font-size: .9em;
    margin: .8em 0;
  }
}