/*
  * 
  * Sections
  *
  */

// Section Container
.feature-section {
	padding: 3em 0;

	@media screen and (min-width: $small-screen) {
		padding: 5em 0;
	}

	// Global Section Icon
	.section-icon {
		width: 3.5em;
		margin: 0 auto;
		display: block;
	}

	.section-title {
		color: $primary-color;
		text-align: center;
		font-size: 2.8em;
	}

	.callout {
		font-size: 1em;
		color: $body-font-color;
		text-align: center;
		margin: 0 auto 2em;
		max-width: 35em;

		@media screen and (min-width: $small-screen) {
			margin-bottom: 4em;
		}
	}
}


#study-material {
	background-color: $primary-color;

	.section-title {
		color: $header-font-color;
	}

	.callout {
		//font
	}
}













// Sign up section. Overwrite styles from base email signup
#sign-up {
	padding: 4em 0;
	text-align: center;
	background-color: $light-green-color;

	.title {
		color: $header-font-color;
	}

	.tagline {
		color: $body-font-color;
	}

	.email-signup-button {
		background-color: $header-font-color;
		//background-color: $secondary-color;
		//border-color: $dark-green-color;
		
		//&::-webkit-input-placeholder {
		//	color: lighten($body-font-color, 20%);
		//}

		&:hover {
			//border-color: darken($dark-green-color, 10%);
			background-color: lighten($header-font-color, 5%);
		}

		&.active,
		&:focus {
			background-color: white;
			color: $body-font-color;

			&::-webkit-input-placeholder {
				color: $body-font-color-alt;
			}
		}
	}
}
